<nav class="navbar-menu">
  <a class="nav-homepage" href="/">Story Creator</a>
  <div class="nav-menu-select">
    <a class="nav-hamburger">
      <div class="hamburger bar1"></div>
      <div class="hamburger bar2"></div>
      <div class="hamburger bar3"></div>
    </a>
  </div>
  <ul class="nav-menu-options">
    <li>
      <a class="nav-create" href="/create">Create</a>
    </li>
    <% if(!userID) { %>
    <li>
      <a class="nav-login" href="/login">Sign in</a>
    </li>
    <li>
      <a class="nav-register" href="/register">Get started</a>
    </li>
    <% } else { %>
    <li>
      <a class="nav-logout" href="/logout">Logout</a>
    </li>
    <% } %>
  </ul>
</nav>
