<nav class="navbar-menu">
  <a class="nav-homepage">Story Creator</a>
  <div class="nav-menu-select">
    <a class="nav-hamburger">
      <div class="hamburger bar1"></div>
      <div class="hamburger bar2"></div>
      <div class="hamburger bar3"></div>
    </a>
  </div>
  <ul class="nav-menu-options">
    <li>
      <a>Stories</a>
    </li>
    <li>
      <a>Create</a>
    </li>
    <li>
      <a>Log in</a>
    </li>
    <li>
      <a>Get started</a>
    </li>
  </ul>
</nav>
