<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />
    <title>Login</title>

    <!-- External CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
      type="text/css"
    />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700"
      rel="stylesheet"
      type="text/css"
    />

    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/back-to-top.css" type="text/css" />
    <link rel="stylesheet" href="/styles/login-register.css" type="text/css" />
    <link
      rel="stylesheet"
      href="/styles/responsive-design.css"
      type="text/css"
    />

    <!-- External JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- App JS -->
    <script type="text/javascript" src="/scripts/client.js"></script>
    <script type="text/javascript" src="/scripts/back-to-top.js"></script>
    <script type="text/javascript" src="/scripts/nav.js"></script>
    <script type="text/javascript" src="/scripts/register.js"></script>

    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      referrerpolicy="no-referrer"
    />
  </head>

  <body>
    <!-- Top nav bar (fixed) -->
    <%- include('partials/_nav') %>

    <!-- Header (fixed)-->
    <%- include('partials/_header') %>

    <div class="login-container">
      <form action="/login" method="POST">
        <div class="box">
          <h1 class="title">Sign in</h1>

          <input
            type="email"
            class="email"
            name="email"
            placeholder="Email"
            required
          />

          <input
            type="name"
            class="email"
            name="name"
            placeholder="Full Name"
            required
          />

          <input type="submit" value="Sign in" class="sign-in" />
        </div>
      </form>
      <a>Not yet registered?</a>
      <a href="/register" class="click-here">Click Here!</a>
    </div>

    <script
      src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"
      type="text/javascript"
    ></script>
  </body>
</html>
